<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chexun.sms.model.permission.SendInfoMapper">
 	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 -->  
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>  -->
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>   -->
    <resultMap id="SendInfoResult" type="com.chexun.sms.model.permission.SendInfo">
        <result property="id" column="id"/>
        <result property="mobile" column="mobile"/>
        <result property="content" column="content"/>
        <result property="params" column="params"/>
        <result property="source" column="source"/>
        <result property="ip" column="ip"/>
        <result property="addtime" column="addtime"/>
        <result property="sendtime" column="sendtime"/>
        <result property="state" column="state"/>
    </resultMap>

    <sql id="send_info_columns">
        send_info.id,
        send_info.mobile,
        send_info.content,
        send_info.params,
        send_info.source,
        send_info.ip,
        send_info.addtime,
        send_info.sendtime,
        send_info.state
    </sql>
    
    <sql id="send_info_where_conditions">
    	<trim prefix="where" prefixOverrides="and|or">
        <if test="id != null">
        	and id=#{id} 
        </if>
        
        <if test="mobile != null and mobile != ''">
        	and mobile=#{mobile} 
        </if>
        
        <if test="content != null and content != ''">
        	and content=#{content} 
        </if>
        
        <if test="params != null and params != ''">
        	and params=#{params} 
        </if>
        <if test="source != null">
        	and source=#{source} 
        </if>
        
        <if test="ip != null and ip != ''">
        	and ip=#{ip} 
        </if>
        <if test="addtime != null">
        	and addtime=#{addtime} 
        </if>
        <if test="sendtime != null">
        	and sendtime=#{sendtime} 
        </if>
        <if test="state != null">
        	and state=#{state} 
        </if>
        </trim>
    </sql>
    
    <sql id="send_info_set_conditions">
    	<set>
        <if test="id != null">
        	id=#{id},
        </if>
        <if test="mobile != null">
        	mobile=#{mobile},
        </if>
        <if test="content != null">
        	content=#{content},
        </if>
        <if test="params != null">
        	params=#{params},
        </if>
        <if test="source != null">
        	source=#{source},
        </if>
        <if test="ip != null">
        	ip=#{ip},
        </if>
        <if test="addtime != null">
        	addtime=#{addtime},
        </if>
        <if test="sendtime != null">
        	sendtime=#{sendtime},
        </if>
        <if test="state != null">
        	state=#{state},
        </if>
            id = id
        </set>
    </sql>

    <sql id="send_info_properties">
        #{id},
        #{mobile},
        #{content},
        #{params},
        #{source},
        #{ip},
        #{addtime},
        #{sendtime},
        #{state}
    </sql>

    <insert id="createSendInfo" parameterType="com.chexun.sms.model.permission.SendInfo" keyColumn="id" keyProperty="id" useGeneratedKeys="true" >
        insert INTO send_info (<include refid="send_info_columns"/>) VALUES (<include refid="send_info_properties"/>)
    </insert>
	
	<insert id="insertSendInfo" parameterType="com.chexun.sms.model.permission.SendInfo" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    	insert into send_info
    	<trim prefix="(" suffix=")" suffixOverrides="," >
    			<if test="id != null" >
        			id,
    			</if>
    			<if test="mobile != null" >
        			mobile,
    			</if>
    			<if test="content != null" >
        			content,
    			</if>
    			<if test="params != null" >
        			params,
    			</if>
    			<if test="source != null" >
        			source,
    			</if>
    			<if test="ip != null" >
        			ip,
    			</if>
    			<if test="addtime != null" >
        			addtime,
    			</if>
    			<if test="sendtime != null" >
        			sendtime,
    			</if>
    			<if test="state != null" >
        			state
    			</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
    			<if test="id != null" >
        		#{id},
    		</if>
    			<if test="mobile != null" >
        		#{mobile},
    		</if>
    			<if test="content != null" >
        		#{content},
    		</if>
    			<if test="params != null" >
        		#{params},
    		</if>
    			<if test="source != null" >
        		#{source},
    		</if>
    			<if test="ip != null" >
        		#{ip},
    		</if>
    			<if test="addtime != null" >
        		#{addtime},
    		</if>
    			<if test="sendtime != null" >
        		#{sendtime},
    		</if>
    			<if test="state != null" >
        		#{state}
    		</if>
    	</trim>
  	</insert>
	
    <delete id="deleteSendInfoById" parameterType="Long">
        delete from send_info
        where
            		id = #{            			value
            		}
    </delete>
    
    <delete id="deleteSendInfoByObj" parameterType="com.chexun.sms.model.permission.SendInfo">
        delete from send_info
        <include refid="send_info_where_conditions"/>
    </delete>
    
  	<delete id="deleteSendInfoByIdList" parameterType="java.util.List">
    	delete from send_info 
        	where
            id
    		IN 
    		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
    </delete>

    <update id="updateSendInfo" parameterType="com.chexun.sms.model.permission.SendInfo">
        update send_info SET
            id = #{id},
            mobile = #{mobile},
            content = #{content},
            params = #{params},
            source = #{source},
            ip = #{ip},
            addtime = #{addtime},
            sendtime = #{sendtime},
            state = #{state}
        where
            id = #{id}
    </update>
    
    <update id="updateSendInfoByObj" parameterType="com.chexun.sms.model.permission.SendInfo">
        update send_info 
        <include refid="send_info_set_conditions"/>
        where
            id = #{id}
    </update>
    
    <update id="updateSendInfoByObjAndConditions" parameterType="java.util.HashMap">
        update send_info 
        <set>
        <if test="s.id != null">
        	id=#{s.id},
        </if>
        <if test="s.mobile != null">
        	mobile=#{s.mobile},
        </if>
        <if test="s.content != null">
        	content=#{s.content},
        </if>
        <if test="s.params != null">
        	params=#{s.params},
        </if>
        <if test="s.source != null">
        	source=#{s.source},
        </if>
        <if test="s.ip != null">
        	ip=#{s.ip},
        </if>
        <if test="s.addtime != null">
        	addtime=#{s.addtime},
        </if>
        <if test="s.sendtime != null">
        	sendtime=#{s.sendtime},
        </if>
        <if test="s.state != null">
        	state=#{s.state},
        </if>
        </set>
        <where>
        <if test="c.id != null">
        	id=#{c.id} AND 
        </if>
        <if test="c.mobile != null">
        	mobile=#{c.mobile} AND 
        </if>
        <if test="c.content != null">
        	content=#{c.content} AND 
        </if>
        <if test="c.params != null">
        	params=#{c.params} AND 
        </if>
        <if test="c.source != null">
        	source=#{c.source} AND 
        </if>
        <if test="c.ip != null">
        	ip=#{c.ip} AND 
        </if>
        <if test="c.addtime != null">
        	addtime=#{c.addtime} AND 
        </if>
        <if test="c.sendtime != null">
        	sendtime=#{c.sendtime} AND 
        </if>
        <if test="c.state != null">
        	state=#{c.state} AND 
        </if>
       (status!=2)
        </where>
    </update>
    
    <update id="batchUpdateSendInfo" parameterType="java.util.List">
		update send_info
		<trim prefix="set" suffixOverrides=",">
      	 	<trim prefix="id=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.id!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.id}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="mobile=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.mobile!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.mobile}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="content=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.content!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.content}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="params=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.params!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.params}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="source=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.source!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.source}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="ip=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.ip!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.ip}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="addtime=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.addtime!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.addtime}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="sendtime=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.sendtime!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.sendtime}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="state=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.state!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.state}
					</if>
				</foreach>
			</trim>
		</trim>
		where
		<foreach collection="list" separator="or" item="i" index="index">
            	(id = #{i.id})
		</foreach>
	</update>
    
    

    <select id="getSendInfoById" resultMap="SendInfoResult" parameterType="Long">
        select
        <include refid="send_info_columns"/>
        from send_info
        where
            id = #{value}
    </select>
    
    <select id="getSendInfoByObj" resultMap="SendInfoResult" parameterType="com.chexun.sms.model.permission.SendInfo">
        select
        <include refid="send_info_columns"/>
        from send_info
        <include refid="send_info_where_conditions"/>
    </select>
	
    
    <select id="getSendInfoListByObj" resultMap="SendInfoResult"  parameterType="com.chexun.sms.model.permission.SendInfo">
        select
        <include refid="send_info_columns"/>
        from send_info 
        <include refid="send_info_where_conditions"/>
    </select>
    
    <select id="getSendInfoListByMap" resultMap="SendInfoResult"  parameterType="java.util.HashMap">
        select
        <include refid="send_info_columns"/>
        from send_info 
        <include refid="send_info_where_conditions"/>
        limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER} 
    </select>
    
    <select id="getSendInfoCountByObj" resultType="int" parameterType="com.chexun.sms.model.permission.SendInfo">
        select count(1) from send_info
        <include refid="send_info_where_conditions"/>
    </select>
    
    
    
    <select id="getSendInfoIdByObj" resultType="Long" parameterType="com.chexun.sms.model.permission.SendInfo">
        select       id                   
        from send_info
        <include refid="send_info_where_conditions"/>
    </select>
	
    <select id="getSendInfoIdList" resultType="Long" parameterType="com.chexun.sms.model.permission.SendInfo">
       select       id                    from send_info where 1=1 
        id = #{value}
    </select>
    
    <select id="getSendInfoIdListByObj" resultType="Long"  parameterType="com.chexun.sms.model.permission.SendInfo">
       select       id                    from send_info 
        <include refid="send_info_where_conditions"/>
    </select>
    
    <select id="getSendInfoIdListByMap" resultType="Long"  parameterType="java.util.HashMap">
        select       id                    from send_info 
        <include refid="send_info_where_conditions"/>
        limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER} 
    </select>
</mapper>