<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlj.ecbiz.model.permission.SysOperationMapper">
 	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 -->  
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>  -->
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>   -->
    <resultMap id="SysOperationResult" type="com.mlj.ecbiz.model.permission.SysOperation">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="state" column="state"/>
    </resultMap>

    <sql id="sys_operation_columns">
        sys_operation.id,
        sys_operation.name,
        sys_operation.url,
        sys_operation.description,
        sys_operation.create_time,
        sys_operation.state
    </sql>
    
    <sql id="sys_operation_where_conditions">
    	<trim prefix="where" prefixOverrides="and|or">
        <if test="id != null">
        	and id=#{id} 
        </if>
        
        <if test="name != null and name != ''">
        	and name=#{name} 
        </if>
        
        <if test="url != null and url != ''">
        	and url=#{url} 
        </if>
        
        <if test="description != null and description != ''">
        	and description=#{description} 
        </if>
        <if test="createTime != null">
        	and create_time=#{createTime} 
        </if>
        <if test="state != null">
        	and state=#{state} 
        </if>
        </trim>
    </sql>
    
    <sql id="sys_operation_set_conditions">
    	<set>
        <if test="id != null">
        	id=#{id},
        </if>
        <if test="name != null">
        	name=#{name},
        </if>
        <if test="url != null">
        	url=#{url},
        </if>
        <if test="description != null">
        	description=#{description},
        </if>
        <if test="createTime != null">
        	create_time=#{createTime},
        </if>
        <if test="state != null">
        	state=#{state},
        </if>
            id = id
        </set>
    </sql>

    <sql id="sys_operation_properties">
        #{id},
        #{name},
        #{url},
        #{description},
        #{createTime},
        #{state}
    </sql>

    <insert id="createSysOperation" parameterType="com.mlj.ecbiz.model.permission.SysOperation" keyColumn="id" keyProperty="id" useGeneratedKeys="true" >
        insert INTO sys_operation (<include refid="sys_operation_columns"/>) VALUES (<include refid="sys_operation_properties"/>)
    </insert>
	
	<insert id="insertSysOperation" parameterType="com.mlj.ecbiz.model.permission.SysOperation" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    	insert into sys_operation
    	<trim prefix="(" suffix=")" suffixOverrides="," >
    			<if test="id != null" >
        			id,
    			</if>
    			<if test="name != null" >
        			name,
    			</if>
    			<if test="url != null" >
        			url,
    			</if>
    			<if test="description != null" >
        			description,
    			</if>
    			<if test="createTime != null" >
        			create_time,
    			</if>
    			<if test="state != null" >
        			state
    			</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
    			<if test="id != null" >
        		#{id},
    		</if>
    			<if test="name != null" >
        		#{name},
    		</if>
    			<if test="url != null" >
        		#{url},
    		</if>
    			<if test="description != null" >
        		#{description},
    		</if>
    			<if test="createTime != null" >
        		#{createTime},
    		</if>
    			<if test="state != null" >
        		#{state}
    		</if>
    	</trim>
  	</insert>
	
    <delete id="deleteSysOperationById" parameterType="Long">
        delete from sys_operation
        where
            		id = #{            			value
            		}
    </delete>
    
    <delete id="deleteSysOperationByObj" parameterType="com.mlj.ecbiz.model.permission.SysOperation">
        delete from sys_operation
        <include refid="sys_operation_where_conditions"/>
    </delete>
    
  	<delete id="deleteSysOperationByIdList" parameterType="java.util.List">
    	delete from sys_operation 
        	where
            id
    		IN 
    		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
    </delete>

    <update id="updateSysOperation" parameterType="com.mlj.ecbiz.model.permission.SysOperation">
        update sys_operation SET
            id = #{id},
            name = #{name},
            url = #{url},
            description = #{description},
            create_time = #{createTime},
            state = #{state}
        where
            id = #{id}
    </update>
    
    <update id="updateSysOperationByObj" parameterType="com.mlj.ecbiz.model.permission.SysOperation">
        update sys_operation 
        <include refid="sys_operation_set_conditions"/>
        where
            id = #{id}
    </update>
    
    <update id="updateSysOperationByObjAndConditions" parameterType="java.util.HashMap">
        update sys_operation 
        <set>
        <if test="s.id != null">
        	id=#{s.id},
        </if>
        <if test="s.name != null">
        	name=#{s.name},
        </if>
        <if test="s.url != null">
        	url=#{s.url},
        </if>
        <if test="s.description != null">
        	description=#{s.description},
        </if>
        <if test="s.createTime != null">
        	create_time=#{s.createTime},
        </if>
        <if test="s.state != null">
        	state=#{s.state},
        </if>
        </set>
        <where>
        <if test="c.id != null">
        	id=#{c.id} AND 
        </if>
        <if test="c.name != null">
        	name=#{c.name} AND 
        </if>
        <if test="c.url != null">
        	url=#{c.url} AND 
        </if>
        <if test="c.description != null">
        	description=#{c.description} AND 
        </if>
        <if test="c.createTime != null">
        	create_time=#{c.createTime} AND 
        </if>
        <if test="c.state != null">
        	state=#{c.state} AND 
        </if>
       (status!=2)
        </where>
    </update>
    
    <update id="batchUpdateSysOperation" parameterType="java.util.List">
		update sys_operation
		<trim prefix="set" suffixOverrides=",">
      	 	<trim prefix="id=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.id!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.id}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="name=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.name!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.name}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="url=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.url!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.url}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="description=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.description!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.description}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="create_time=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.createTime!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.createTime}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="state=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.state!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.state}
					</if>
				</foreach>
			</trim>
		</trim>
		where
		<foreach collection="list" separator="or" item="i" index="index">
            	(id = #{i.id})
		</foreach>
	</update>
    
    

    <select id="getSysOperationById" resultMap="SysOperationResult" parameterType="Long">
        select
        <include refid="sys_operation_columns"/>
        from sys_operation
        where
            id = #{value}
    </select>
    
    <select id="getSysOperationByObj" resultMap="SysOperationResult" parameterType="com.mlj.ecbiz.model.permission.SysOperation">
        select
        <include refid="sys_operation_columns"/>
        from sys_operation
        <include refid="sys_operation_where_conditions"/>
    </select>
	
    
    <select id="getSysOperationListByObj" resultMap="SysOperationResult"  parameterType="com.mlj.ecbiz.model.permission.SysOperation">
        select
        <include refid="sys_operation_columns"/>
        from sys_operation 
        <include refid="sys_operation_where_conditions"/>
    </select>
    
    <select id="getSysOperationListByMap" resultMap="SysOperationResult"  parameterType="java.util.HashMap">
        select
        <include refid="sys_operation_columns"/>
        from sys_operation 
        <include refid="sys_operation_where_conditions"/>
        limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER} 
    </select>
    
    <select id="getSysOperationCountByObj" resultType="int" parameterType="com.mlj.ecbiz.model.permission.SysOperation">
        select count(1) from sys_operation
        <include refid="sys_operation_where_conditions"/>
    </select>
    
    
    
    <select id="getSysOperationIdByObj" resultType="Long" parameterType="com.mlj.ecbiz.model.permission.SysOperation">
        select       id             
        from sys_operation
        <include refid="sys_operation_where_conditions"/>
    </select>
	
    <select id="getSysOperationIdList" resultType="Long" parameterType="com.mlj.ecbiz.model.permission.SysOperation">
       select       id              from sys_operation where 1=1 
        id = #{value}
    </select>
    
    <select id="getSysOperationIdListByObj" resultType="Long"  parameterType="com.mlj.ecbiz.model.permission.SysOperation">
       select       id              from sys_operation 
        <include refid="sys_operation_where_conditions"/>
    </select>
    
    <select id="getSysOperationIdListByMap" resultType="Long"  parameterType="java.util.HashMap">
        select       id              from sys_operation 
        <include refid="sys_operation_where_conditions"/>
        limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER} 
    </select>
</mapper>