<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlj.ecbiz.model.product.ProductInfoMapper">
 	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 -->  
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>  -->
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>   -->
    <resultMap id="ProductInfoResult" type="com.mlj.ecbiz.model.product.ProductInfo">
        <result property="id" column="id"/>
        <result property="productName" column="product_name"/>
        <result property="productSn" column="product_sn"/>
        <result property="unit" column="unit"/>
        <result property="weight" column="weight"/>
        <result property="typeId" column="type_id"/>
        <result property="catId" column="cat_id"/>
        <result property="brandId" column="brand_id"/>
        <result property="productNum" column="product_num"/>
        <result property="shopPrice" column="shop_price"/>
        <result property="marketPrice" column="market_price"/>
        <result property="isOnsale" column="is_onsale"/>
        <result property="isShow" column="is_show"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="imgitme" column="imgitme"/>
        <result property="operator" column="operator"/>
        <result property="creatTime" column="creat_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="stock" column="stock"/>
    </resultMap>

    <sql id="product_info_columns">
        product_info.id,
        product_info.product_name,
        product_info.product_sn,
        product_info.unit,
        product_info.weight,
        product_info.type_id,
        product_info.cat_id,
        product_info.brand_id,
        product_info.product_num,
        product_info.shop_price,
        product_info.market_price,
        product_info.is_onsale,
        product_info.is_show,
        product_info.sort_order,
        product_info.imgitme,
        product_info.operator,
        product_info.creat_time,
        product_info.update_time,
        product_info.stock
    </sql>
    
    <sql id="product_info_where_conditions">
    	<trim prefix="where" prefixOverrides="and|or">
        <if test="id != null">
        	and id=#{id} 
        </if>
        
        <if test="productName != null and productName != ''">
        	and product_name=#{productName} 
        </if>
        
        <if test="productSn != null and productSn != ''">
        	and product_sn=#{productSn} 
        </if>
        
        <if test="unit != null and unit != ''">
        	and unit=#{unit} 
        </if>
        
        <if test="weight != null and weight != ''">
        	and weight=#{weight} 
        </if>
        
        <if test="typeId != null and typeId != ''">
        	and type_id=#{typeId} 
        </if>
        
        <if test="catId != null and catId != ''">
        	and cat_id=#{catId} 
        </if>
        
        <if test="brandId != null and brandId != ''">
        	and brand_id=#{brandId} 
        </if>
        
        <if test="productNum != null and productNum != ''">
        	and product_num=#{productNum} 
        </if>
        
        <if test="shopPrice != null and shopPrice != ''">
        	and shop_price=#{shopPrice} 
        </if>
        
        <if test="marketPrice != null and marketPrice != ''">
        	and market_price=#{marketPrice} 
        </if>
        <if test="isOnsale != null">
        	and is_onsale=#{isOnsale} 
        </if>
        <if test="isShow != null">
        	and is_show=#{isShow} 
        </if>
        <if test="sortOrder != null">
        	and sort_order=#{sortOrder} 
        </if>
        
        <if test="imgitme != null and imgitme != ''">
        	and imgitme=#{imgitme} 
        </if>
        
        <if test="operator != null and operator != ''">
        	and operator=#{operator} 
        </if>
        
        <if test="creatTime != null and creatTime != ''">
        	and creat_time=#{creatTime} 
        </if>
        
        <if test="updateTime != null and updateTime != ''">
        	and update_time=#{updateTime} 
        </if>
        <if test="stock != null">
        	and stock=#{stock} 
        </if>
        </trim>
    </sql>
    
    <sql id="product_info_set_conditions">
    	<set>
        <if test="id != null">
        	id=#{id},
        </if>
        <if test="productName != null">
        	product_name=#{productName},
        </if>
        <if test="productSn != null">
        	product_sn=#{productSn},
        </if>
        <if test="unit != null">
        	unit=#{unit},
        </if>
        <if test="weight != null">
        	weight=#{weight},
        </if>
        <if test="typeId != null">
        	type_id=#{typeId},
        </if>
        <if test="catId != null">
        	cat_id=#{catId},
        </if>
        <if test="brandId != null">
        	brand_id=#{brandId},
        </if>
        <if test="productNum != null">
        	product_num=#{productNum},
        </if>
        <if test="shopPrice != null">
        	shop_price=#{shopPrice},
        </if>
        <if test="marketPrice != null">
        	market_price=#{marketPrice},
        </if>
        <if test="isOnsale != null">
        	is_onsale=#{isOnsale},
        </if>
        <if test="isShow != null">
        	is_show=#{isShow},
        </if>
        <if test="sortOrder != null">
        	sort_order=#{sortOrder},
        </if>
        <if test="imgitme != null">
        	imgitme=#{imgitme},
        </if>
        <if test="operator != null">
        	operator=#{operator},
        </if>
        <if test="creatTime != null">
        	creat_time=#{creatTime},
        </if>
        <if test="updateTime != null">
        	update_time=#{updateTime},
        </if>
        <if test="stock != null">
        	stock=#{stock},
        </if>
            id = id
        </set>
    </sql>

    <sql id="product_info_properties">
        #{id},
        #{productName},
        #{productSn},
        #{unit},
        #{weight},
        #{typeId},
        #{catId},
        #{brandId},
        #{productNum},
        #{shopPrice},
        #{marketPrice},
        #{isOnsale},
        #{isShow},
        #{sortOrder},
        #{imgitme},
        #{operator},
        #{creatTime},
        #{updateTime},
        #{stock}
    </sql>

    <insert id="createProductInfo" parameterType="com.mlj.ecbiz.model.product.ProductInfo" keyColumn="id" keyProperty="id" useGeneratedKeys="true" >
        insert INTO product_info (<include refid="product_info_columns"/>) VALUES (<include refid="product_info_properties"/>)
    </insert>
	
	<insert id="insertProductInfo" parameterType="com.mlj.ecbiz.model.product.ProductInfo" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    	insert into product_info
    	<trim prefix="(" suffix=")" suffixOverrides="," >
    			<if test="id != null" >
        			id,
    			</if>
    			<if test="productName != null" >
        			product_name,
    			</if>
    			<if test="productSn != null" >
        			product_sn,
    			</if>
    			<if test="unit != null" >
        			unit,
    			</if>
    			<if test="weight != null" >
        			weight,
    			</if>
    			<if test="typeId != null" >
        			type_id,
    			</if>
    			<if test="catId != null" >
        			cat_id,
    			</if>
    			<if test="brandId != null" >
        			brand_id,
    			</if>
    			<if test="productNum != null" >
        			product_num,
    			</if>
    			<if test="shopPrice != null" >
        			shop_price,
    			</if>
    			<if test="marketPrice != null" >
        			market_price,
    			</if>
    			<if test="isOnsale != null" >
        			is_onsale,
    			</if>
    			<if test="isShow != null" >
        			is_show,
    			</if>
    			<if test="sortOrder != null" >
        			sort_order,
    			</if>
    			<if test="imgitme != null" >
        			imgitme,
    			</if>
    			<if test="operator != null" >
        			operator,
    			</if>
    			<if test="creatTime != null" >
        			creat_time,
    			</if>
    			<if test="updateTime != null" >
        			update_time,
    			</if>
    			<if test="stock != null" >
        			stock
    			</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
    			<if test="id != null" >
        		#{id},
    		</if>
    			<if test="productName != null" >
        		#{productName},
    		</if>
    			<if test="productSn != null" >
        		#{productSn},
    		</if>
    			<if test="unit != null" >
        		#{unit},
    		</if>
    			<if test="weight != null" >
        		#{weight},
    		</if>
    			<if test="typeId != null" >
        		#{typeId},
    		</if>
    			<if test="catId != null" >
        		#{catId},
    		</if>
    			<if test="brandId != null" >
        		#{brandId},
    		</if>
    			<if test="productNum != null" >
        		#{productNum},
    		</if>
    			<if test="shopPrice != null" >
        		#{shopPrice},
    		</if>
    			<if test="marketPrice != null" >
        		#{marketPrice},
    		</if>
    			<if test="isOnsale != null" >
        		#{isOnsale},
    		</if>
    			<if test="isShow != null" >
        		#{isShow},
    		</if>
    			<if test="sortOrder != null" >
        		#{sortOrder},
    		</if>
    			<if test="imgitme != null" >
        		#{imgitme},
    		</if>
    			<if test="operator != null" >
        		#{operator},
    		</if>
    			<if test="creatTime != null" >
        		#{creatTime},
    		</if>
    			<if test="updateTime != null" >
        		#{updateTime},
    		</if>
    			<if test="stock != null" >
        		#{stock}
    		</if>
    	</trim>
  	</insert>
	
    <delete id="deleteProductInfoById" parameterType="Long">
        delete from product_info
        where
            		id = #{            			value
            		}
    </delete>
    
    <delete id="deleteProductInfoByObj" parameterType="com.mlj.ecbiz.model.product.ProductInfo">
        delete from product_info
        <include refid="product_info_where_conditions"/>
    </delete>
    
  	<delete id="deleteProductInfoByIdList" parameterType="java.util.List">
    	delete from product_info 
        	where
            id
    		IN 
    		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
    </delete>

    <update id="updateProductInfo" parameterType="com.mlj.ecbiz.model.product.ProductInfo">
        update product_info SET
            id = #{id},
            product_name = #{productName},
            product_sn = #{productSn},
            unit = #{unit},
            weight = #{weight},
            type_id = #{typeId},
            cat_id = #{catId},
            brand_id = #{brandId},
            product_num = #{productNum},
            shop_price = #{shopPrice},
            market_price = #{marketPrice},
            is_onsale = #{isOnsale},
            is_show = #{isShow},
            sort_order = #{sortOrder},
            imgitme = #{imgitme},
            operator = #{operator},
            creat_time = #{creatTime},
            update_time = #{updateTime},
            stock = #{stock}
        where
            id = #{id}
    </update>
    
    <update id="updateProductInfoByObj" parameterType="com.mlj.ecbiz.model.product.ProductInfo">
        update product_info 
        <include refid="product_info_set_conditions"/>
        where
            id = #{id}
    </update>
    
    <update id="updateProductInfoByObjAndConditions" parameterType="java.util.HashMap">
        update product_info 
        <set>
        <if test="s.id != null">
        	id=#{s.id},
        </if>
        <if test="s.productName != null">
        	product_name=#{s.productName},
        </if>
        <if test="s.productSn != null">
        	product_sn=#{s.productSn},
        </if>
        <if test="s.unit != null">
        	unit=#{s.unit},
        </if>
        <if test="s.weight != null">
        	weight=#{s.weight},
        </if>
        <if test="s.typeId != null">
        	type_id=#{s.typeId},
        </if>
        <if test="s.catId != null">
        	cat_id=#{s.catId},
        </if>
        <if test="s.brandId != null">
        	brand_id=#{s.brandId},
        </if>
        <if test="s.productNum != null">
        	product_num=#{s.productNum},
        </if>
        <if test="s.shopPrice != null">
        	shop_price=#{s.shopPrice},
        </if>
        <if test="s.marketPrice != null">
        	market_price=#{s.marketPrice},
        </if>
        <if test="s.isOnsale != null">
        	is_onsale=#{s.isOnsale},
        </if>
        <if test="s.isShow != null">
        	is_show=#{s.isShow},
        </if>
        <if test="s.sortOrder != null">
        	sort_order=#{s.sortOrder},
        </if>
        <if test="s.imgitme != null">
        	imgitme=#{s.imgitme},
        </if>
        <if test="s.operator != null">
        	operator=#{s.operator},
        </if>
        <if test="s.creatTime != null">
        	creat_time=#{s.creatTime},
        </if>
        <if test="s.updateTime != null">
        	update_time=#{s.updateTime},
        </if>
        <if test="s.stock != null">
        	stock=#{s.stock},
        </if>
        </set>
        <where>
        <if test="c.id != null">
        	id=#{c.id} AND 
        </if>
        <if test="c.productName != null">
        	product_name=#{c.productName} AND 
        </if>
        <if test="c.productSn != null">
        	product_sn=#{c.productSn} AND 
        </if>
        <if test="c.unit != null">
        	unit=#{c.unit} AND 
        </if>
        <if test="c.weight != null">
        	weight=#{c.weight} AND 
        </if>
        <if test="c.typeId != null">
        	type_id=#{c.typeId} AND 
        </if>
        <if test="c.catId != null">
        	cat_id=#{c.catId} AND 
        </if>
        <if test="c.brandId != null">
        	brand_id=#{c.brandId} AND 
        </if>
        <if test="c.productNum != null">
        	product_num=#{c.productNum} AND 
        </if>
        <if test="c.shopPrice != null">
        	shop_price=#{c.shopPrice} AND 
        </if>
        <if test="c.marketPrice != null">
        	market_price=#{c.marketPrice} AND 
        </if>
        <if test="c.isOnsale != null">
        	is_onsale=#{c.isOnsale} AND 
        </if>
        <if test="c.isShow != null">
        	is_show=#{c.isShow} AND 
        </if>
        <if test="c.sortOrder != null">
        	sort_order=#{c.sortOrder} AND 
        </if>
        <if test="c.imgitme != null">
        	imgitme=#{c.imgitme} AND 
        </if>
        <if test="c.operator != null">
        	operator=#{c.operator} AND 
        </if>
        <if test="c.creatTime != null">
        	creat_time=#{c.creatTime} AND 
        </if>
        <if test="c.updateTime != null">
        	update_time=#{c.updateTime} AND 
        </if>
        <if test="c.stock != null">
        	stock=#{c.stock} AND 
        </if>
       (status!=2)
        </where>
    </update>
    
    <update id="batchUpdateProductInfo" parameterType="java.util.List">
		update product_info
		<trim prefix="set" suffixOverrides=",">
      	 	<trim prefix="id=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.id!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.id}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="product_name=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.productName!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.productName}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="product_sn=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.productSn!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.productSn}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="unit=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.unit!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.unit}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="weight=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.weight!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.weight}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="type_id=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.typeId!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.typeId}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="cat_id=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.catId!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.catId}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="brand_id=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.brandId!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.brandId}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="product_num=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.productNum!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.productNum}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="shop_price=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.shopPrice!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.shopPrice}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="market_price=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.marketPrice!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.marketPrice}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="is_onsale=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.isOnsale!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.isOnsale}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="is_show=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.isShow!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.isShow}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="sort_order=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.sortOrder!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.sortOrder}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="imgitme=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.imgitme!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.imgitme}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="operator=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.operator!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.operator}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="creat_time=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.creatTime!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.creatTime}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="update_time=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.updateTime!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.updateTime}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="stock=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.stock!=null">
						WHEN 
            			id = #{i.id}
        				 THEN #{i.stock}
					</if>
				</foreach>
			</trim>
		</trim>
		where
		<foreach collection="list" separator="or" item="i" index="index">
            	(id = #{i.id})
		</foreach>
	</update>
    
    

    <select id="getProductInfoById" resultMap="ProductInfoResult" parameterType="Long">
        select
        <include refid="product_info_columns"/>
        from product_info
        where
            id = #{value}
    </select>
    
    <select id="getProductInfoByObj" resultMap="ProductInfoResult" parameterType="com.mlj.ecbiz.model.product.ProductInfo">
        select
        <include refid="product_info_columns"/>
        from product_info
        <include refid="product_info_where_conditions"/>
    </select>
	
    
    <select id="getProductInfoListByObj" resultMap="ProductInfoResult"  parameterType="com.mlj.ecbiz.model.product.ProductInfo">
        select
        <include refid="product_info_columns"/>
        from product_info 
        <include refid="product_info_where_conditions"/>
    </select>
    
    <select id="getProductInfoListByMap" resultMap="ProductInfoResult"  parameterType="java.util.HashMap">
        select
        <include refid="product_info_columns"/>
        from product_info 
        <include refid="product_info_where_conditions"/>
        limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER} 
    </select>
    
    <select id="getProductInfoCountByObj" resultType="int" parameterType="com.mlj.ecbiz.model.product.ProductInfo">
        select count(1) from product_info
        <include refid="product_info_where_conditions"/>
    </select>
    
    
    
    <select id="getProductInfoIdByObj" resultType="Long" parameterType="com.mlj.ecbiz.model.product.ProductInfo">
        select       id                                       
        from product_info
        <include refid="product_info_where_conditions"/>
    </select>
	
    <select id="getProductInfoIdList" resultType="Long" parameterType="com.mlj.ecbiz.model.product.ProductInfo">
       select       id                                        from product_info where 1=1 
        id = #{value}
    </select>
    
    <select id="getProductInfoIdListByObj" resultType="Long"  parameterType="com.mlj.ecbiz.model.product.ProductInfo">
       select       id                                        from product_info 
        <include refid="product_info_where_conditions"/>
    </select>
    
    <select id="getProductInfoIdListByMap" resultType="Long"  parameterType="java.util.HashMap">
        select       id                                        from product_info 
        <include refid="product_info_where_conditions"/>
        limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER} 
    </select>
</mapper>